@model SharePointOnlineWebClient.Models.SharePointSiteProperties

<h2>SharePoint Site Properties</h2>


<table class="table table-bordered table-striped table-condensed">
  <tr>
    <td style="width:200px;">Title</td>
    <td>@Model.Title</td>
  </tr>
  <tr>
    <td>Id</td>
    <td>@Model.Id</td>
  </tr>
  <tr>
    <td>Url</td>
    <td><b><a href="@Model.Url" target="_blank">@Model.Url</a></b></td>
  </tr>
  <tr>
    <td>ServerRelativeUrl</td>
    <td>@Model.ServerRelativeUrl</td>
  </tr>
  <tr>
    <td>Created</td>
    <td>@Model.Created</td>
  </tr>
  <tr>
    <td>Language</td>
    <td>@Model.Language</td>
  </tr>
  <tr>
    <td>WebTemplate</td>
    <td>@Model.WebTemplate</td>
  </tr>
  <tr>
    <td>Configuration</td>
    <td>@Model.Configuration</td>
  </tr>
  <tr>
    <td>UIVersion</td>
    <td>@Model.UIVersion</td>
  </tr>
  <tr>
    <td>EnableMinimalDownload</td>
    <td>@Model.EnableMinimalDownload</td>
  </tr>
  <tr>
    <td>MasterUrl</td>
    <td>@Model.MasterUrl</td>
  </tr>
  <tr>
    <td>CustomMasterUrl</td>
    <td>@Model.CustomMasterUrl</td>
  </tr>
  <tr>
    <td>AlternateCssUrl</td>
    <td>@Model.AlternateCssUrl</td>
  </tr>
  <tr>
    <td>SiteLogoUrl</td>
    <td>@Model.SiteLogoUrl</td>
  </tr>
  <tr>
    <td>LastItemModifiedDate</td>
    <td>@Model.LastItemModifiedDate</td>
  </tr>

</table>